body {
  margin: 0;
  color: aliceblue;
}
.nav_bar {
  background-color: #144f82;
  border: 1px #144f82;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  margin-top: 0;
  text-align: center;
}
nav,
ul,
li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  text-decoration: none;
}
li:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 9px 3px rgb(21 38 52);
}
li.active {
  background-color: rgb(255, 255, 255);
  padding: 6px;
  box-shadow: 1px 1px 9px 4px rgb(21 38 52);
}
li {
  margin: 10px;
  padding: 5px;
  margin-bottom: 0;
  background-color: rgb(227, 222, 222);
  border-radius: 4px;
}
.head {
  margin: 0;
}
.sub-head {
  margin: 0;
}
nav {
  margin: 0;
  padding: 0;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
  background-color: #144f82;
  border: 1px #144f82;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

h4 {
  padding: 0;
  margin: 0;
}
hr {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.footer1 {
  background-color: #144f82;
}
.copy {
  align-items: center;
}
.logo {
  float: right;
  margin: 0.5;
  margin-top: 0;
  height: 8.3em;
}
.logo1 {
  float: left;
  margin: 1%;
  margin-top: 0.5%;
  height: 7em;
}
.body {
  background-image: url("OIP.jpeg");
  margin: 0;
  height: 100px;
}
a {
  text-decoration: none;
}
img {
  display: inline-block;
}
.links {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 2px;
}
.links:hover {
  color: aqua;
  height: max-content;
}
h2 {
  margin: 0;
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ft {
  display: flex;
  flex-direction: row;
}
nav{
  position: sticky;
}
footer{
  
}
